@using Microsoft.AspNetCore.Components.Web
@namespace Reader.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" class="flex w-full h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="manifest" href="manifest.webmanifest">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="flex-1 bg-[#B4C6FC] p-1.5 flex justify-center">
    @RenderBody()

    <script src="_framework/blazor.server.js"></script>
    <script src="/js/blazorLocalStorage.js"></script>
    <script src="/js/scrollReset.js"></script>
</body>
</html>
