@page "/"
@page "/share"
@using Microsoft.Extensions.Primitives
@inject NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

<p>Title: @Title</p>
<p>Text: @Text</p>
<p>Url: @Url</p>


@code
{
    public string Title { get; set; } = "";
    public string Url { get; set; } = "";
    public string Text { get; set; } = "";
    
    protected override void OnInitialized()
    {
        Uri uri = new(NavigationManager.Uri);
        // Extract parameters from the query string.
        Dictionary<string, StringValues>? query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        Title = query.TryGetValue("title", out StringValues title) ? title : "no";
        Text = query.TryGetValue("text", out StringValues text) ? text : "no";
        Url = query.TryGetValue("url", out StringValues url) ? url : "no";

        // Now you can use the shared data.
        base.OnInitialized();
    }
}
